@import "../../../styles.scss";

.container {
  @include center-container;
  @include hero;

  flex-direction: column;

  .credit {
    position: fixed;
    right: .5vw;
    bottom: 0;
    color: $color-white;
    font-size: x-small
  }

  .header {
    @include header-txt;
    margin: 0;
  }

  .login {
    flex-direction: column;
    justify-content: center;
    flex-grow: 2;
    align-items: center;
    display: flex;

    &__form {
      display: flex;
      flex-direction: column;
    }

    &__hide-message {
      opacity: 0;
    }
  }
}

button {
  font-size: $btn-font-size;
}
